#app {
    border:3px solid #000;
    background-color: #E2DED5;
    padding: 30px;
    box-shadow: 14px 12px #707070;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

/*--------header-------------*/
header {
    border-bottom: 3px solid #000;
    position: relative;
    padding: 0 20px 10px;
}

header > h1 {
    font-size:2.5em;
    display: inline-block;
    margin-right: 50px;
}

header > .router_link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 7px;
}
header > .router_link > li {
    display: inline-block;
}

header > .router_link > li + li {
    margin-left: 30px;
}

header > .router_link > li.active {
    background-color: #EA5334;
}

header > .router_link > li > a {
    font-size: 2em;
    padding:0 10px;  
}

header > .router_link > li.active > a {
    color: #fff;
}



/*-------list-------*/
.title_list {
    padding: 20px;
    margin-top: 20px;
}

.title_list > li {
}


.title_list > li + li {
    margin-top:25px
}

.title_list > li > .title {
    font-size:22px;
    margin-right: 10px;
    transition: 0.2s;
}

.title_list > li > .title:hover {
    color: #EA5334;
}

.title_list > li > b {
    font-size: 14px;
    color:#757575
}

.title_list > li > .user_area {
    font-size:14px; 
    margin-left: 15px;
    position: relative;
}

.title_list > li > .user_area:hover {
    text-decoration: underline;
}

.title_list > li > .user_area::after {
    content: '';
    width:1px;
    height: 12px;
    background-color: #999;
    position: absolute;
    left: -7px;
    top: 5px;

}

.title_list > li > .comment > span {
    font-size:12px; 
    color:#6495ed;
    transition: 0.3s;
}

.title_list > li > .comment:hover > span {
    font-size: 13px;
}

/*-------comment-------*/
.comment_wrap {
    text-align: center;
    padding: 20px 40px;
}

.comment_wrap > p {
    text-align: left;

}

.comment_wrap > p > span {
    color:#757575
}

.comment_wrap > h3 {
    font-size:40px;
    margin-top: 50px;
}

.comment_wrap > .comment_list {
    margin-top: 50px;
}

.comment_wrap > .comment_list > li {
    position: relative;
    border-top: 1px solid #999;
    padding: 30px 0;
}

.comment_wrap > .comment_list > li > span > p {
    /*color: #252525;*/
    font-weight: normal;
}

.comment_wrap > .comment_list > li + li {
    margin-top: 40px;
}

.comment_wrap > .comment_list > li > .user {
    position: absolute;
    right: 24px;
    bottom: -17px;
    color: #EA5334;
    font-size: 14px;
}

/*-------user-------*/
.user_info {
    height: 90vh;
    padding: 50px 30px;
}

.user_info > li {
    font-size:25px;
    font-weight: normal;
}
.user_info > li + li {
    margin-top: 10px;
}

.user_info > li > span {
    font-weight: bold;
    text-decoration: underline;
    margin-right: 10px;
}

/* ---------- mediaquery -------- */
@media screen and (max-width:1200px) {
    header > h1 {
        font-size: 2em;
        margin-right: 120px;
    }
    

    header > .router_link {
        position: unset;
        transform: unset;
        display: inline-block;
    }

    header > .router_link > li > a {
        font-size: 1.8em;
    }
}

@media screen and (max-width:1023px) {
     header > h1 {
        margin-right: 78px; 
    }

    header > .router_link > li > a {
        font-size: 1.5em;
    }

    .comment_wrap > h3 {
        font-size: 30px;
    }
}

@media screen and (max-width:768px) {
    body {
        /* background-color: darkcyan; */
        padding: 10px;
        padding-right: 15px;
    }

    #app {
        padding: 15px;
        box-shadow: 7px 5px #707070;
    }

    header {
        text-align: center;
        padding: 0 10px 15px;
    }

    header > h1 {
        font-size: 1.2em;
        margin-right: 0;
        display: block;
    }

    header > .router_link {
        margin-top: 10px;
    }
    header > .router_link > li + li {
        margin-left:5px;
    }

    header > .router_link > li > a {
        padding: 0 5px;
        font-size: 1em;
    }

    .title_list {
        margin-top: 0;
        padding: 10px;
    }

    .title_list > li > .title {
        font-size: 15px;
        margin-right: 7px;
    }

    .title_list > li > .comment > span {
        font-size: 10px;
    }

    .title_list > li > b {
        font-size: 12px;
    }

    .title_list > li > .user_area {
        font-size: 12px;
    }

    .title_list > li > .user_area::after {
        height: 9px;
    }


    /* -------comment -------- */
    .comment_wrap {
        padding: 10px;
    }

    .comment_wrap > p {
        font-size: 13px;
    }

    .comment_wrap > h3 {
        font-size: 18px;
        margin-top: 30px;
    }
    .comment_wrap > .comment_list {
        margin-top: 30px;
    }

    .comment_wrap > .comment_list > li {
        font-size: 13px;
        padding: 18px 0;
    }

    .comment_wrap > .comment_list > li > .user {
        font-size: 11px;
        bottom: -10px;
    }


    /* ------- userInfo -------- */
    .user_info {
        padding: 30px;
    }
    
    .user_info > li {
        font-size: 18px;
    }

    .user_info > li + li {
        margin-top: 15px;
    }

    .user_info > li > span {
        display: block;
    }
    
}